#content {
  padding-top: 10%; }

.function-button {
  text-align: center; }

.message {
  text-align: center;
  padding: 20px;
  font-size: 20pt; }

.none-display {
  display: none; }

.countdown-clock {
  width: 460px;
  margin: 0px auto; }
